<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Services Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <style>
        ul {
            list-style-type: none;
        }
        li {
            display: inline;
        }
    </style>
</head>
<body>
<div ng-controller="myController as mc">
    Enter name: <input type="text" ng-model="mc.searchTerm" ><br>
    <button ng-click="mc.searchItunes()">Search</button>
    <!--TODO: make the display with a list instead of tables, cause really don't like tables and also add a player to play the 30 sec preview of the songs-->
    <!--<header>-->
          <!--<ul>-->
                <!--<li>#</li>-->
                <!--<li>Image</li>-->
                <!--<li>Artist Name</li>-->
                <!--<li>Track Name</li>-->
                <!--<li>Price</li>-->
          <!--</ul>-->
    <!--</header>-->
    <!--<ul ng-repeat="song in mc.data">-->
        <!--<li>{{ $index + 1 }}</li>-->
        <!--<li><img ng-src="{{ song.artworkUrl60 }}"></li>-->
        <!--<li>{{ song.artistName }}:</li>-->
        <!--<li>{{ song.trackName }}</li>-->
        <!--<li>{{ song.trackPrice }}</li>-->
    <!--</ul>-->
    <table>
        <tbody>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Artist Name</th>
                <th>Track Name</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="song in mc.data">
                <td>{{ $index + 1 }}</td>
                <td><img ng-src="{{ song.artworkUrl60 }}"></td>
                <td>{{ song.artistName }}:</td>
                <td>{{ song.trackName }}</td>
                <td>{{ song.trackPrice }}</td>
            </tr>
        </tbody>
        </table>
    </header>
</div>


<script src="script.js"></script>
</body>
</html>